* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    background-color: rgb(200, 248, 232);
  }
  .header-title {
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;
  }

  header {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: center;
    
    align-items: center;
    font-family: Trattatello, cursive;
    height: 100px;
    width: 100%;
    /* text-shadow: rgba(0, 0, 0, 1) 0px 0px 0px; */
    /* transition: 1s all; */
}
.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(skyBlue,lightCyan,rgb(135, 167, 235), rgb(0, 47, 255));
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0 50px 0 50px;
    width:90%;
  }
.burger-menu{
  cursor: pointer;
  left: 15px;
  padding: 0.5em 0.45em 0em 0.5em;
  transition: all 400ms ease-in-out;
  top: 15px;
  z-index: 50;
}
.burger-menu>div{
  background-color: rgba(30, 26, 97, 0.8);
  height: 5px;
  width: 40px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 300ms ease-in;
}
.line-up{}
.line-middle{}
.line-down{}
.global-menu{
  background: Linear-gradient( rgb(255, 255, 255) 60%, rgb(135, 167, 235));
  box-shadow: 2px 0px 5px rgba(180, 180, 180, 0.5);
  height: 100%;
  left: -250px;
  opacity: 0;
  overflow: hidden;
  padding: 20px 0px;
  position: fixed;
  transition: all 350ms ease-in-out;
  top: 0px;
  width: 250px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.visible{
  left: 0px;
  opacity: 1;
}
.menu-element{
  border-bottom: 2px solid grey;
  cursor: pointer;
  font-size: 1.2em;
  padding: 15px 30px;
  list-style: none;
  margin-top: 1.5em;
  transition: all 200ms;
}
  .main-app{
      margin-top: 150px;
      min-width: 500px;
  }
  .intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .text-intro{
    text-align: center;
    font-size: medium;
    font-weight: bolder;

  }
  .all-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
  }
  .filter-button{
    border: none;
    border-radius: 0  25px 25px 25px;
    height: 50px;
    background: linear-gradient(skyBlue,lightCyan,rgb(135, 167, 235), rgb(0, 47, 255));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    transition: 0.2s ease-in;
    margin: 10px;
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    border-radius: 100px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(skyBlue,lightCyan,skyBlue, rgb(0, 119, 255));
    box-shadow: rgb(17, 34, 51, 0.8) 7px 8px 12px;
    transition: 0.5s all;
  }
  .cardImage {
    border-radius: 100px 100px 0 100px;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    transition: 0.5s all;
  }
  .cardImage:hover {
    filter: grayscale(80%);
    opacity: 60%;
  }
  
  .cardBody {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardBody h2 {
    margin: 10px 0 0 ;
    width: 100%;
  }
  .cardBody h3 {
    margin: 0px 15px;
    padding-left: 15px;
    font-style: italic;
    width: 100%;
  }

  .cardButton {
    border: none;
    border-radius: 0  40px 40px 40px;
    height: 80px;
    background: radial-gradient(at 0% 0%, rgb(105, 135, 190) 20px, rgb(37, 58, 116) 60%, #042650 80%);
    width: 50%;
    transition: 0.2s ease-in;
    margin-bottom: 10px;
    color: rgb(151, 182, 240);
    box-shadow: rgb(43, 63, 83, 0.5) 7px 8px 12px;
  }
  .cardButton:hover {
    background: radial-gradient(at 0% 0%, rgb(158, 187, 241) 20px, rgb(61, 86, 155) 60%, #103666 80%);
    color: rgb(117, 151, 209);
  }

  footer {
    bottom:0;
    height: 100px;
    width: 100%;
    border-radius: 100px 100px 0 0;
    background: linear-gradient(rgb(20, 16, 73), rgb(86, 145, 155), rgb(54, 112, 122));
    color: rgb(30, 51, 88);
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
