* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    background-color: rgb(200, 248, 232);
  }
  .header-title {
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: center;
    
    align-items: center;
    font-family: Trattatello, cursive;
    height: 100px;
    width: 100%;
    /* text-shadow: rgba(0, 0, 0, 1) 0px 0px 0px; */
    /* transition: 1s all; */
}
.header-div{
    background-color: rgba(35, 115, 189, 0.5 );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(137, 85, 161);
    border-radius: 0 50px 0 50px;
    width:70%;
    
  }
  .main-app{
      margin-top: 150px;
      min-width: 500px;
  }
  .intro{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .text-intro{
    text-align: center;
    font-size: medium;
    font-weight: bolder;

  }
  .all-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
  }
  .filter-button{
    border: none;
    border-radius: 0  25px 25px 25px;
    height: 50px;
    background: linear-gradient(skyBlue,lightCyan,rgb(135, 167, 235), rgb(0, 47, 255));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    transition: 0.2s ease-in;
    margin: 10px;
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    border-radius: 100px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(skyBlue,lightCyan,skyBlue, rgb(0, 119, 255));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
    transition: 0.5s all;
  }
  .cardImage {
    border-radius: 100px 100px 0 100px;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    transition: 0.5s all;
  }
  .cardImage:hover {
    filter: grayscale(80%);
    opacity: 60%;
  }
  
  .cardBody {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardBody h2 {
    margin: 10px 0 0 ;
    width: 100%;
  }
  .cardBody h3 {
    margin: 0px 15px;
    padding-left: 15px;
    font-style: italic;
    width: 100%;
  }

  .cardButton {
    border: none;
    border-radius: 0  40px 40px 40px;
    height: 80px;
    background-color: rgb(41, 79, 136);
    width: 50%;
    transition: 0.2s ease-in;
    margin-bottom: 10px;
  }
  .cardButton:hover {
    background-color: rgb(183, 175, 219);
  }

  footer {
    bottom:0;
    height: 100px;
    width: 100%;
    border-radius: 100px 100px 0 0;
    background-color: rgb(20, 16, 73);
    color: cornflowerblue;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
}
